*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.header{
    padding: 60px;
    text-align: center;
    background: chocolate;
    color: white;
}
.navbar{
    display:flex;
    background-color: rgb(29, 19, 17);
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  .side {
    flex: 30%;
    background-color: chocolate;
    padding: 20px;
  }

  
  .fimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
  